/* Homepage container */
.homepage-container {
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Game container: chessboard + video stream */
  .game-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  /* Chessboard container: occupies 70% of the width */
  .chessboard-container {
    flex: 0 0 70%;
  }
  
  /* Video stream container: occupies 30% of the width */
  .videostream-container {
    flex: 0 0 30%;
    padding-left: 1rem;
  }
  